.mapDiv{
    border: 2px solid rgb(53, 50, 50);
    width: 60%;
    margin-inline: auto;
}
.map{
    width: 100%;
}
#states{
    width: 100px;
    padding: 10px;
}
.label{
    font-weight: 700;
}
@media screen and (max-width: 767px) {
    .mapDiv{
        width: 100%;
        margin-top: 20px;
    }
    #states{
        
    }
}

@media screen and (min-width: 768px) {
    .mapDiv{
        width:80%;
        margin-top: 20px;
    }
}