.mapDiv{
    border: 2px solid rgb(53, 50, 50);
    width: 60%;
    margin-inline: auto;
}
.map{
    width: 100%;
}

@media screen and (max-width: 767px) {
    .mapDiv{
        width: 100%;
    }
}