.popup{
    background: rgb(218, 64, 64);
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
}
.info{
    padding: 10px;
    font-weight: 500;
    width: 200px;
    color: #fff;
}
.title{
    font-weight: bold;
}