*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content{
  padding: 100px;
}

@media screen and (max-width: 767px) {
  .content{
    padding: 20px;
  }
}

@media screen and (width: 768px) {
  .content{
    padding: 20px;
  }
}